* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #41874b;
        cursor: url("cursor.png") 32 32, auto;

    }

canvas {
    display: block;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 30px;
}

#garden-container {
    
    left: 0%;
}

#garden {
    display: flex;
    flex-wrap: wrap;
    /* Ensures items wrap to the next row if there's not enough space */
    justify-content: center;
    /* Centers items */
    gap: 40px;
    width: 100%;
    padding: 10px;
    margin-bottom:50px;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: vendetta, serif;
    font-weight: 500;
    font-style: italic;
    font-size:xx-large
}
#title{
    display:flex;
    align-items: center;
    color:#f5f5dc;
    padding:8px;
    padding-left:40px;
    padding-right:40px;

}
#info-button{
    margin-left:10px;
    position:absolute;
    left:95%
}

#time {
    position: sticky;
    top: 0;
    background-color:#52965d;
    z-index: 500; /* Keeps it above other elements */
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: prestige-elite-std, monospace;
}


#clock {
    width: 200px;
    font-size: xx-large;
}

.flower-container {
    width: 150px;
    height: 220px;
    position: relative;

    /* border-style: dashed;
    border-color: pink; */
}

.flower {
    outline: 2px dashed beige;
    border-radius: 5px;
    overflow: hidden;
}

.info-container {
    text-align: center;
    color: brown;
    background-color: beige;
    margin: 7px;
    padding: 8px;
    font-family: vendetta, serif;
font-weight: 300;
font-style: normal;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

#timeFilter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* Ensures it covers everything */
    pointer-events: none;
    /* Prevents it from blocking interaction */
    opacity: 1.0;
    /* Adjust the opacity for the overlay */
    transition: background-color 1s ease;
    /* Smooth transition when changing color */

    mix-blend-mode: multiply;
    /* Experiment with other modes like screen, overlay, etc. */

}



/* CSS */
.button-39 {
    background-color: beige;
    border: 0px solid rgb(209, 213, 219);
    box-sizing: border-box;
    color: #111827;
    font-family: prestige-elite-std, monospace;
    font-weight: 600;
    line-height: 1.25rem;
    cursor: url("cursor.png") 32 32, auto;

    padding: .75rem 1rem;
    text-align: center;
    border-radius: 30px;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-39:hover {
    background-color: rgb(213, 213, 187);
}

.button-39:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-39:focus-visible {
    box-shadow: none;
}


.popup {
    display: none; /* Hide the popup initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    color: brown;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    text-align: center;
    font-family: vendetta, serif;
font-weight: 300;
font-style: normal;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    font-weight: bold;
}
p{
    font-size:smaller;
}